%h1	
	GESTION DE STOCKS
%h4 Almacenes
= link_to 'Ver', stock_almacenes_path
-# productoid y almacenid (almacen de destino)
-#= link_to 'Mover stock entre almacenes', stock_request_path('moveStock', 'POST')
-# productoid y almacenid (almacen de destino del otro grupo)
-#= link_to 'Mover stock a otra bodega', stock_request_path('moveStockBodega', 'POST')
-# productid, direccion, precio y periodo id
-#= link_to 'Despachar stock', stock_request_path('stock', 'DELETE')
