%h1 
	SKUS con stock
%table.table
	%tr
		%th id
		%th Total
		%th
	- @request.each do |sku|
		%tr
			%td= sku["_id"]
			%td= sku["total"]
			%td= link_to 'Ver stock', stock_sku_path(almacen: @almacen, sku: sku["_id"]), class: "btn btn-primary"
-#params almacenid, sku y limit (opcional)